/* .box{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.box:hover{
    animation: normal 2 3s;
}

@keyframes go {
    0%{
        background-color: blueviolet;
    }
    50%{
        background-color: brown;
    }
    100%{
        background-color: black;
    }
} */

body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading{
    display: flex;
    gap: 6px;
    & .barrinha{
        width: 12px;
        height: 50px;
        background-color: black;
        animation: fadeOut linear infinite 1.5s;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}